.toggle-button {
    font-size: 18;
    color: #888;
    padding: 10;
    border-radius: 6;
    flex-grow: 1;
    text-align: center;
    margin: 0 5;
    background-color: #292929;
    border-width: 2;
    border-color: #111;
}

.toggle-button-active {
    background-color: #111;
    color: #fff;
}