.dashboard-page {
    background-color: #313131;
}

.section-container {
    padding: 10 0;
    border-bottom-width: 2;
}

.section-label {
    color: #fff;
    font-size: 20;
    margin: 0 0 10 20;
}

.gel-button {
    margin:5;
    padding: 10;
    border-radius: 20;
    border-width: 4;
    text-align: center;
    font-size: 25;
    background-color: crimson;
}